* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 16px 10px;
  z-index: 100;
  background: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.back-btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  
  img {
    width: 20px;
    height: 20px;
  }
}

.title {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  margin-left: 10px;
} 